Options +Multiviews
Redirect /and/daniela-likes-fosdem http://i.liketightpants.net/and/daniela-likes-open-source-programming-conferences-like-fosdem
Redirect /and/hybrid-publishing-back-to-the-future http://i.liketightpants.net/and/hybrid-publishing-back-to-the-future-publishing-theses-at-the-kabk
