/* start fontsquirrel generated @fontface */

@font-face {
	font-family: 'LatinModernRoman10Regular';
	src: url('lmroman10-regular-webfont.eot');
	src: local('☺'), url('lmroman10-regular-webfont.woff') format('woff'), url('lmroman10-regular-webfont.ttf') format('truetype'), url('lmroman10-regular-webfont.svg#webfontg3VAmqr8') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatinModernRoman10Italic';
	src: url('lmroman10-italic-webfont.eot');
	src: local('☺'), url('lmroman10-italic-webfont.woff') format('woff'), url('lmroman10-italic-webfont.ttf') format('truetype'), url('lmroman10-italic-webfont.svg#webfont1YvZMafy') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* stop fontsquirrel generated @fontface */

body {
  font-family: free sans, nimbus sans, helvetica, arial, sans-serif;
  font-weight: 300;
  line-height: 140%;
  font: 16px/22.4px 'LatinModernRoman10Regular', 'Latin Modern', 'Computer Modern', 'Didot', Georgia, serif;
}

* {
  margin: 0;
  padding: 0;
}

body > div  {
  padding: 10px 16px;
}

h1,h2,h3,h4,h5,h6  {
font-weight:normal;
font-size:18px;
}

a, a:active, a.visited {
  color: #369aff;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

em {
  font-style: normal;
  font-family: 'LatinModernRoman10Italic';
}

div.header, div.footer {
  background:#369aff;
  color:#ffffff;
}

div.header a, div.footer a {
  color:#ffffff;
  text-decoration:underline;
}



li {
  list-style: none;
}

div.content {
  margin: 50px 80px;
}
.content h2 {
  font: 64px/64px 'LatinModernRoman10Regular', 'Latin Modern', 'Computer Modern', 'Didot', Georgia, serif;
  margin: 0 0 12.8px 0;
  padding: 0;
  color: #369aff;
  text-transform: lowercase;
  letter-spacing: -5.1px
}

.content h3 {
  font: 36px/36px 'LatinModernRoman10Regular', 'Latin Modern', 'Computer Modern', 'Didot', Georgia, serif;
  margin: 26.4px 0 12.8px 8.8px;
  padding: 0;
  color: #369aff;
  text-transform: lowercase;
  letter-spacing: -1px
}

.content h4 {
  font: 24px/24px 'LatinModernRoman10Regular', 'Latin Modern', 'Computer Modern', 'Didot', Georgia, serif;
  margin: 26.4px 0 12.8px 8.8px;
  padding: 0;
  color: #369aff;
  text-transform: lowercase;
  letter-spacing: -1px

}

.content p, .comments p {
  font: 17.6px/24.6px 'LatinModernRoman10Regular', 'Latin Modern', 'Computer Modern', 'Didot', Georgia, serif;
  color: #000;
  width: 440px;
  margin: 0 0 10.6px 0;
  padding: 0 17.6px;
  text-indent: -8.8px;
}

hr {
  width: 440px;
}

blockquote {
  font: 17.6px/24.6px 'LatinModernRoman10Italic', 'Latin Modern', 'Computer Modern', 'Didot', Georgia, serif;
  color: #000;
  width: 431px;
  margin: 0 0 10.6px 0;
  padding: 0 17.6px;
  text-indent: -8.8px;
  border-left: 9px solid #9accff;
}

pre {
  white-space: pre-wrap;
}

div.comments, div.trackbacks {
  color: #464646;
  margin: 25px 40px;
}

/* code highlighting by the wonderful pygments library */

.hll { background-color: #ffffcc }
.c { color: #888888 } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #008800; font-weight: bold } /* Keyword */
.cm { color: #888888 } /* Comment.Multiline */
.cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.c1 { color: #888888 } /* Comment.Single */
.cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #303030 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #606060 } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008800 } /* Keyword.Pseudo */
.kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.kt { color: #888888; font-weight: bold } /* Keyword.Type */
.m { color: #0000DD; font-weight: bold } /* Literal.Number */
.s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.na { color: #336699 } /* Name.Attribute */
.nb { color: #003388 } /* Name.Builtin */
.nc { color: #bb0066; font-weight: bold } /* Name.Class */
.no { color: #003366; font-weight: bold } /* Name.Constant */
.nd { color: #555555 } /* Name.Decorator */
.ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.nf { color: #0066bb; font-weight: bold } /* Name.Function */
.nl { color: #336699; font-style: italic } /* Name.Label */
.nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.py { color: #336699; font-weight: bold } /* Name.Property */
.nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.nv { color: #336699 } /* Name.Variable */
.ow { color: #008800 } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.bp { color: #003388 } /* Name.Builtin.Pseudo */
.vc { color: #336699 } /* Name.Variable.Class */
.vg { color: #dd7700 } /* Name.Variable.Global */
.vi { color: #3333bb } /* Name.Variable.Instance */
.il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */