/* start fontsquirrel generated @fontface */

@font-face {
	font-family: 'LatinModernRoman10Regular';
	src: url('lmroman10-regular-webfont.eot');
	src: local('☺'), url('lmroman10-regular-webfont.woff') format('woff'), url('lmroman10-regular-webfont.ttf') format('truetype'), url('lmroman10-regular-webfont.svg#webfontg3VAmqr8') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatinModernRoman10Italic';
	src: url('lmroman10-italic-webfont.eot');
	src: local('☺'), url('lmroman10-italic-webfont.woff') format('woff'), url('lmroman10-italic-webfont.ttf') format('truetype'), url('lmroman10-italic-webfont.svg#webfont1YvZMafy') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* stop fontsquirrel generated @fontface */

body {
  font-family: free sans, nimbus sans, helvetica, arial, sans-serif;
  font-weight: 300;
  line-height: 140%;
  font: 16px/22.4px 'LatinModernRoman10Regular', 'Latin Modern', 'Computer Modern', 'Didot', Georgia, serif;
}

* {
  margin: 0;
  padding: 0;
}

body > div  {
  padding: 10px 16px;
}

h1,h2,h3,h4,h5,h6  {
font-weight:normal;
font-size:18px;
}

a, a:active, a.visited {
  color: #369aff;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

em {
  font-style: normal;
  font-family: 'LatinModernRoman10Italic';
}

div.header, div.footer {
  background:#369aff;
  color:#ffffff;
}

div.header a, div.footer a {
  color:#ffffff;
  text-decoration:underline;
}



li {
  list-style: none;
}

div.content {
  margin: 50px 80px;
}
.content h2 {
  font: 64px/64px 'LatinModernRoman10Regular', 'Latin Modern', 'Computer Modern', 'Didot', Georgia, serif;
  margin: 0 0 12.8px 0;
  padding: 0;
  color: #369aff;
  text-transform: lowercase;
  letter-spacing: -5.1px
}
.content p {
  font: 17.6px/24.6px 'LatinModernRoman10Regular', 'Latin Modern', 'Computer Modern', 'Didot', Georgia, serif;
  color: #000;
  width: 440px;
  margin: 0 0 10.6px 0;
  padding: 0 17.6px;
  text-indent: -8.8px;
}

blockquote {
  font: 17.6px/24.6px 'LatinModernRoman10Italic', 'Latin Modern', 'Computer Modern', 'Didot', Georgia, serif;
  color: #000;
  width: 431px;
  margin: 0 0 10.6px 0;
  padding: 0 17.6px;
  text-indent: -8.8px;
  border-left: 9px solid #9accff;
}

div.comments, div.trackbacks {
  color: #464646;
  margin: 25px 40px;
}