#author-font() {
  @baseline: Bizarrerie;
  @bnf: ScottieAndJudy;
  @glit: BBBLove;
  @habitus: Delius;
  @jenseits: SelfRegion;
  @tellyou: PurpleLove;
}

#title-font() {
  @baseline: ChaumontScript;
  @bnf: Croisant;
  @glit: QTSchoolCentury;
  @habitus: Artesanias;
  @jenseits: Foglihten07;
  @tellyou: Movement;
}

#body-font() {
  @baseline: BBBSprat;
  @bnf: DINdong;
  @glit: Chemins;
  @habitus: BBBBaskervvol;
  @jenseits: ParaRubber;
  @tellyou: BBBPoppinsTN;
}

#body-text-colour() {
  @baseline: #fff;
  @bnf: #fff;
  @glit: #fff;
  @habitus: #fff;
  @jenseits: #ccc;
  @tellyou: #000;
}

#body-background-colour() {
  @baseline: #ff0000;
  @bnf: #82babf;
  @glit: #ff0087;
  @habitus: #c6af00;
  @jenseits: #ac8cff;
  @tellyou: #009600;
}

#body-highlight-colour() {
  @baseline: #ff0087;
  @bnf: #ff0087;
  @glit: #00aeef;
  @habitus: #0058ed;
  @jenseits: #ff5b00;
  @tellyou: #ac8cff;
}

#link-colour() {
  @baseline: #fff;
  @bnf: #fff;
  @glit: #fff;
  @habitus: #000;
  @jenseits: #89fe67;
  @tellyou: #fff;
}

#link-highlight-colour() {
  @baseline: #ff0000;
  @bnf: #82babf;
  @glit: #00aeef;
  @habitus: #ff5b00;
  @jenseits: #ac8cff;
  @tellyou: #ac8cff;
}

#header-text-colour() {
  @baseline: #0058ed;
  @bnf: #0058ed;
  @glit: #c6af00;
  @habitus: #ff0000;
  @jenseits: #89fe67;
  @tellyou: #ff5b00;
}

#header-text-size() {
  @baseline: 20pt;
  @bnf: 20pt;
  @glit: 17pt;
  @habitus: 20pt;
  @jenseits: 20pt;
  @tellyou: 20pt;
}

#paragraph-indent() {
  @baseline: 1cm;
  @bnf: 1cm;
  @glit: 1cm;
  @habitus: 0;
  @jenseits: 1cm;
  @tellyou: 1cm;
}

#main-image-size() {
  @baseline: 100%;
  @bnf: 100%;
  @glit: 88%;
  @habitus: 100%;
  @jenseits: 100%;
  @tellyou: 100%;
}

#main-image-margin-left() {
  @baseline: 0;
  @bnf: 0;
  @glit: 12%;
  @habitus: 0;
  @jenseits: 0;
  @tellyou: 0;
}

#main-image-margin-right() {
  @baseline: 0;
  @bnf: 0;
  @glit: 0;
  @habitus: 0;
  @jenseits: 0;
  @tellyou: 0;
}
