@font-face {
  font-family: 'ChaumontScript';
  src: url('fonts/such/as/ChaumontScript-Regular.woff2');
}

@font-face {
  font-family: 'BBBSprat';
  src: url('./fonts/such/as/BBBSprat-CondensedRegular.woff');
}

@font-face {
  font-family: 'Croisant';
  src: url('./fonts/such/as/croisant.ttf');
}

@font-face {
  font-family: 'DINdong';
  src: url('./fonts/such/as/DINdong.otf');
}

@font-face {
  font-family: 'QTSchoolCentury';
  src: url('./fonts/such/as/QTSchoolCentury-Times-New_Romance-BoldItalic.ttf');
}

@font-face {
  font-family: 'Chemins';
  src: url('./fonts/such/as/Chemins_Regular.ttf');
}

@font-face {
  font-family: 'Artesanias';
  src: url('./fonts/such/as/Artesanias_2011.ttf');
}

@font-face {
  font-family: 'BBBBaskervvol';
  src: url('./fonts/such/as/BBBBaskervvol-Regular.woff');
}

@font-face {
  font-family: 'Foglihten';
  src: url('./fonts/such/as/Foglihten-068.otf');
}

@font-face {
  font-family: 'ParaRubber';
  src: url('./fonts/such/as/ParaRubber-Medium.otf');
}

@font-face {
  font-family: 'Movement';
  src: url('./fonts/such/as/Movement-DirectThin.woff2');
}

@font-face {
  font-family: 'BBBPoppinsTN';
  src: url('./fonts/such/as/BBBPoppinsTN-TextRegular.woff');
}
