@body-background-colour: #ff0000;
@body-text-colour: #fff;
@body-highlight-colour: #ff0087;
@comment-border-colour: #ff0087;
@link-colour: @body-text-colour;
@link-highlight-colour: @body-background-colour;
@header-text-colour: #0058ed;

@import "_style";
