@body-background-colour: #ff0087;
@body-text-colour: #fff;
@body-highlight-colour: #00aeef;
@link-colour: #fff;
@link-highlight-colour: #00aeef;
@comment-border-colour: #ec008c;
@header-text-colour: #c6af00;

@paragraph-indent: 1cm;
@paragraph-text-size: 12pt;

@import "_style";
