@body-background-colour: #ac8cff;
@body-text-colour: #ccc;
@body-highlight-colour: #ff5b00;
@link-colour: #89fe67;
@link-highlight-colour: #ac8cff;
@comment-border-colour: #ec008c;
@header-text-colour: #89fe67;

@import "_style";
