@paragraph-indent: 1cm;
@paragraph-text-size: 12pt;
@paragraph-line-height: 1.2;

/** I like tight pants design by Roxanne Maillet with Eric Schrijver **/

/*! Contains elements of HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */
/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

@import "_typefaces";
@import "_element_resets";

.meta-font {
  font-family: ComputerModern, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 12pt;
  color: #000;
}

html {
  background-color: #fff;
  font-size: 1em;
  line-height: 1.2;
  height: 100%;
}

@font-face {
  font-family: 'enby';
  src: url('./fonts/such/as/Enby_roman_0.ttf');
}

body {
  margin: 0;
  font-family: sans-serif;
}

pre {
    font-family: "andale mono", "lucida console", monospace;
    white-space: pre-wrap;
}

main {
  border-radius: 36px;
  padding: 0 23px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: stretch;
  flex-wrap: wrap;
  h1, h2, h3, h4, h5, h6 {
    text-align: right;
  }
  article {
    flex-grow: 2;
    flex-basis: 70%;
    img {
      width: 100%;
    }
    p {
      max-width: 200mm;
    }
    a, a:active, a:visited {
      text-decoration: none;
    }
    .entry_list {
      font-size: 20pt;
    }
  }
}

#title-font() {
  @baseline: ChaumontScript;
  @bnf: Croisant;
  @glit: QTSchoolCentury;
  @habitus: Artesanias;
  @jenseits: Foglihten;
  @tellyou: Movement;
}

#body-font() {
  @baseline: BBBSprat;
  @bnf: DINdong;
  @glit: Chemins;
  @habitus: BBBBaskervvol;
  @jenseits: ParaRubber;
  @tellyou: BBBPoppinsTN;
}

#body-text-colour() {
  @baseline: #fff;
  @bnf: #fff;
  @glit: #fff;
  @habitus: #fff;
  @jenseits: #ccc;
  @tellyou: #000;
}

#body-background-colour() {
  @baseline: #ff0000;
  @bnf: #82babf;
  @glit: #ff0087;
  @habitus: #c6af00;
  @jenseits: #ac8cff;
  @tellyou: #009600;
}

#body-highlight-colour() {
  @baseline: #ff0087;
  @bnf: #ff0087;
  @glit: #00aeef;
  @habitus: #0058ed;
  @jenseits: #ff5b00;
  @tellyou: #ac8cff;
}

#link-colour() {
  @baseline: #fff;
  @bnf: #fff;
  @glit: #fff;
  @habitus: #000;
  @jenseits: #89fe67;
  @tellyou: #fff;
}

#link-highlight-colour() {
  @baseline: #ff0000;
  @bnf: #82babf;
  @glit: #00aeef;
  @habitus: #ff5b00;
  @jenseits: #ac8cff;
  @tellyou: #ac8cff;
}

#header-text-colour() {
  @baseline: #0058ed;
  @bnf: #0058ed;
  @glit: #c6af00;
  @habitus: #ff0000;
  @jenseits: #89fe67;
  @tellyou: #ff5b00;
}

#paragraph-indent() {
  @baseline: 1cm;
  @bnf: 1cm;
  @glit: 1cm;
  @habitus: 0;
  @jenseits: 1cm;
  @tellyou: 1cm;
}

.main(@author) {
  margin-top: 44vh;
  font-family: #body-font[@@author], serif;
  color: #body-text-colour[@@author];
  background-color: #body-background-colour[@@author];
  h1, h2, h3, h4, h5, h6 {
    font-family: #title-font[@@author], serif;
  }
  article {
    p {
      font-size: @paragraph-text-size;
      padding-left: #paragraph-indent[@@author];
      text-indent: -#paragraph-indent[@@author];
      line-height: @paragraph-line-height;
      & > span {
        background-color: #body-highlight-colour[@@author];
      }
    }
    a, a:active, a:visited {
      color: #link-colour[@@author];
      background-color: #link-highlight-colour[@@author];
    }
    .entry_list {
      font-family: #title-font[@@author], serif;
      color: #header-text-colour[@@author];
      a, a:active, a:visited {
        color: #header-text-colour[@@author];
      }
    }
  }
}

main {
  .main(baseline);
}
main.baseline {
  .main(baseline);
  article .entry_list {
    list-style-image: url('etoile-chaos.svg');
  }
}
main.bnf {
  .main(bnf);
}
main.glit {
  .main(glit);
}
main.habitus {
  .main(habitus);
}
main.jenseits {
  .main(jenseits);
}
main.tellyou {
  .main(tellyou);
}

nav#authors {
  top: 30vh;
  position: sticky;
  flex-grow: 1;
  align-self: flex-start;
  flex-basis: 30%;
  height: 70vh;
  img {
    width: 100%;
    height: 100%;
  }
}

header#site {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  color: #000;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  font-family: enby, serif;
  font-size: 22px;
  line-height: 22px;
  border-style: solid;
  border-width: 0 0 18px 0;
  border-image: url('../../../assets/called/bubble-border.svg') 0 0 18 0 repeat stretch;
  & > div, & > img {
    display: inline-block;
  }
}

footer {
  position: fixed;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  height: 22px;
  font-family: enby, serif;
  font-size: 22px;
  line-height: 22px;
  ul {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    margin: 0 !important;
    padding: 0;
    li:first-child {
      margin-right: auto;
    }
    li + li::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url("etoile.svg") center / contain no-repeat;
      margin-right: 5px;
    }
    form {
      display: contents;
      #logout {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;
      }
    }
  }
}

header#author {
  display: none;
}
a.selected-author {
  display: block;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  height: 44vh;
  border-radius: 36px 36px 0 0;
  img {
    width: 100%;
  }
}

/*
header#author {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 44vh;
  border-radius: 36px 36px 0 0;
  img {
    width: 100%;
  }
}*/

.header(@author) {
  background-color: #body-background-colour[@@author];
}

.header {
  .header(baseline);
}
.header.baseline {
  .header(baseline);
}
.header.bnf {
  .header(bnf);
}
.header.glit {
  .header(glit);
}
.header.habitus {
  .header(habitus);
}
.header.jenseits {
  .header(jenseits);
}
.header.tellyou {
  .header(tellyou);
}

/* All this code serves to show the text ‘i . like tight pants’ a different number of times,
   depending on the screen size */
header#site > div.second-tightpants, header#site > img.second-tightpants,
header#site > div.third-tightpants, header#site > img.third-tightpants,
header#site > div.fourth-tightpants, header#site > img.fourth-tightpants {
  display: none;
}

@media (max-width: 479px) {
  /* We want to show the star right next to the name */
  header#site {
    justify-content: flex-start;
    gap: 10px;
  }
}

@media (min-width: 480px) {
   header#site > div.second-tightpants, header#site > img.second-tightpants {
    display: initial;
  }
}

@media (min-width: 768px) {
   header#site > div.third-tightpants, header#site > img.third-tightpants {
    display: initial;
  }
}

@media (min-width: 1280px) {
   header#site > div.fourth-tightpants, header#site > img.fourth-tightpants {
    display: initial;
  }
}

@import "_helpers";

@import "_print";

#comments-open {
  margin-top: 10px;
  textarea, input {
    border: 2px solid #D8127E;
    width: 100%;
    margin-bottom: @paragraph-margin-bottom;
  }
  textarea {
    border-radius: 1cm;
    padding: 1cm;
    box-sizing: border-box;
    .meta-font();
  }
  input {
    border-radius: 0.5cm;
    padding: 0.5cm;
    box-sizing: border-box;
    .meta-font();
  }
  input[type=submit] {
    cursor: pointer;
  }
}
