@body-background-colour: #009600;
@body-text-colour: #000;
@body-highlight-colour: #ac8cff;
@link-colour: #fff;
@link-highlight-colour: #ac8cff;
@comment-border-colour: #ff0087;
@header-text-colour: #ff5b00;

@import "_style";
